# Variabilitas data dari dataset Heart


## 1. Inisialisasikan library yang diperlukan untuk dataset ini.

In [1]:
import numpy as np
import pandas as pd

from sklearn.preprocessing import LabelEncoder


## 2. Masukan dataset Heart.csv kedalam dataframe

### 2.1 Siapkan dataframe untuk mengambil attribut

In [2]:
df = pd.read_csv("\\Users\\aftermath\\Documents\\Machine Learning\\heartbeat dataset\\Heart.csv",header=None, skipinitialspace=True)
df = df.drop(df.columns[0], axis=1)

df.head()

,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
1,63,1,typical,145,233,1,2,150,0,2.3,3,0,fixed,No
2,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3,normal,Yes
3,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2,reversable,Yes
4,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0,normal,No

### 2.2 Masukan attribut kedalam array

In [3]:
attrs = []
for attr in range(1,15):
    attrs.append(df.at[0,attr])
attrs

['Age',
 'Sex',
 'ChestPain',
 'RestBP',
 'Chol',
 'Fbs',
 'RestECG',
 'MaxHR',
 'ExAng',
 'Oldpeak',
 'Slope',
 'Ca',
 'Thal',
 'AHD']

### 2.3 Dataframe baru dengan nama kolom = attrs, tampilkan dataframe yang dihasilkan

In [4]:
dfnew = pd.read_csv("\\Users\\aftermath\\Documents\\Machine Learning\\heartbeat dataset\\Heart.csv",header=None, skipinitialspace=True)
dfnew = df.iloc[1:]
dfnew.drop(dfnew.index[[0,1]])
dfnew.columns = attrs
dfnew.index =  range(len(dfnew.index))
print(dfnew.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
Age          303 non-null object
Sex          303 non-null object
ChestPain    303 non-null object
RestBP       303 non-null object
Chol         303 non-null object
Fbs          303 non-null object
RestECG      303 non-null object
MaxHR        303 non-null object
ExAng        303 non-null object
Oldpeak      303 non-null object
Slope        303 non-null object
Ca           299 non-null object
Thal         301 non-null object
AHD          303 non-null object
dtypes: object(14)
memory usage: 33.2+ KB
None


## 3. Preprocessing

In [5]:
dfnew = dfnew.dropna()
missing_values = dfnew.isnull()

print("ChestPain :\n",dfnew['ChestPain'].unique().tolist(),"\n")
print("Thal :\n",dfnew['Thal'].unique().tolist(),"\n")

dfnew.describe()

ChestPain :
 ['typical', 'asymptomatic', 'nonanginal', 'nontypical']

Thal :
 ['fixed', 'normal', 'reversable']

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
count,297,297,297,297,297,297,297,297,297,297,297,297,297,297
unique,41,2,4,50,152,2,3,91,2,40,3,4,3,2
top,58,1,asymptomatic,120,234,0,0,162,0,0,1,0,normal,No
freq,18,201,142,37,6,254,147,11,200,96,139,174,164,160

In [6]:
lb = LabelEncoder() 
dfnew['AHD'] = lb.fit_transform(dfnew['AHD'])
dfnew['ChestPain'] = lb.fit_transform(dfnew['ChestPain'])
dfnew['Thal'] = lb.fit_transform(dfnew['Thal'])
dfnew.head()

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,63,1,3,145,233,1,2,150,0,2.3,3,0,0,0
1,67,1,0,160,286,0,2,108,1,1.5,2,3,1,1
2,67,1,0,120,229,0,2,129,1,2.6,2,2,2,1
3,37,1,1,130,250,0,0,187,0,3.5,3,0,1,0
4,41,0,2,130,204,0,2,172,0,1.4,1,0,1,0


## 4. Summary dari Atribut Kontinu

In [7]:
dfnew = dfnew.astype('float64')

In [8]:
dfnew.count(axis = 0)

Age          297
Sex          297
ChestPain    297
RestBP       297
Chol         297
Fbs          297
RestECG      297
MaxHR        297
ExAng        297
Oldpeak      297
Slope        297
Ca           297
Thal         297
AHD          297
dtype: int64

In [9]:
dfnew.mean(axis=0)

Age           54.542088
Sex            0.676768
ChestPain      0.841751
RestBP       131.693603
Chol         247.350168
Fbs            0.144781
RestECG        0.996633
MaxHR        149.599327
ExAng          0.326599
Oldpeak        1.055556
Slope          1.602694
Ca             0.676768
Thal           1.326599
AHD            0.461279
dtype: float64

In [10]:
dfnew.min(axis=0)

Age           29.0
Sex            0.0
ChestPain      0.0
RestBP        94.0
Chol         126.0
Fbs            0.0
RestECG        0.0
MaxHR         71.0
ExAng          0.0
Oldpeak        0.0
Slope          1.0
Ca             0.0
Thal           0.0
AHD            0.0
dtype: float64

In [11]:
dfnew.max(axis=0)

Age           77.0
Sex            1.0
ChestPain      3.0
RestBP       200.0
Chol         564.0
Fbs            1.0
RestECG        2.0
MaxHR        202.0
ExAng          1.0
Oldpeak        6.2
Slope          3.0
Ca             3.0
Thal           2.0
AHD            1.0
dtype: float64

In [12]:
dfnew.std(axis=0)

Age           9.049736
Sex           0.468500
ChestPain     0.964859
RestBP       17.762806
Chol         51.997583
Fbs           0.352474
RestECG       0.994914
MaxHR        22.941562
ExAng         0.469761
Oldpeak       1.166123
Slope         0.618187
Ca            0.938965
Thal          0.585061
AHD           0.499340
dtype: float64

In [13]:
dfnew.quantile([0.25, 0.75], interpolation='nearest')

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0.25,48.0,0.0,0.0,120.0,211.0,0.0,0.0,133.0,0.0,0.0,1.0,0.0,1.0,0.0
0.75,61.0,1.0,1.0,140.0,276.0,0.0,2.0,166.0,1.0,1.6,2.0,1.0,2.0,1.0